[flake8]
max-line-length = 88
extend-ignore = E203
max-complexity = 10

# Docstring checks
docstring-convention = google

# Naming conventions
# B008: Do not perform function calls in argument defaults.
# B010: Do not call setattr with a constant attribute value.
extend-select = B008, B010
